<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{data.title}}</title>
  <meta charset="UTF-8">

  <meta name="title" content="Killer Heat" />
  <meta name="description" content="An expat PI is hired to investigate a suspicious death in Crete, Greece, where jealousies run deep amongst the victim's powerful family." />

  <meta property="og:image:width" content="1200">
  <meta property="og:image:width" content="630">

  <meta property="og:image:width" content="1200">
  <meta property="og:image:width" content="627">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:width" content="675">

  <meta property="og:site_name" content="{{data.title}}">
  <meta property="og:title" content="{{data.title}}" />
  <meta property="og:description" content="{{data.overview}}" />
  <meta property="og:image" itemprop="image" content="https://image.tmdb.org/t/p/w185/{{data.backdrop_path}}?dimensions=1200x630&resize_fit_method=cover">
  <meta property="og:image" itemprop="image" content="https://image.tmdb.org/t/p/w185/{{data.backdrop_path}}?dimensions=1200x627&resize_fit_method=cover">
  <meta property="og:image" itemprop="image" content="https://image.tmdb.org/t/p/w185/{{data.backdrop_path}}?dimensions=1200x675&resize_fit_method=cover">
  <meta property="og:type" content="website" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
  <link href="{{ url_for('static', path='/show_style.css') }}" rel="stylesheet">
</head>

<body>
  <div class="mainImgHolder">
    <div class="BackDropFade">
      <img class="BackDropImg" src="https://image.tmdb.org/t/p/w500/{{data.poster_path}}" alt="{{data.title}}">
    </div>

  </div>
  <div class="mainBack">
    <img class="posterImg" src="https://image.tmdb.org/t/p/original/{{data.backdrop_path}}" alt="{{data.title}}">
    <h1 class="titleText">{{data.title}}</h1>
    <p class="descriptionText">{{data.overview}}</p>
  </div>
</body>

</html>